<!DOCTYPE HTML>
<html>
  <head>
    <title>Acme Configuration Management</title>
    <script src="api.js"></script>
  </head>
  <body>
    <h1>Acme Configuration Management</h1>
    <button onclick="getJSON('<%- gatewayURI %>')">Click me</button>
    <pre id="info">

    </pre>
  </body>
</html>
